web/node_modules/
web/.svelte-kit/
web/build/
/dist/
/docs/*
!/docs/screenshots/
!/docs/logo/
/conversations/
/models/
/bin/
config.json
.env
*.log
stdout.txt
stderr.txt

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# build artifacts
*.exe
*.dll
*.test
*~

# coverage reports
coverage*
coverage*.out

# session temporary files
audit/
server.err
*.txt
*.png
*.svg
*.ico

node_modules/
